[submodule "external/Walnut"]
	path = external/Walnut
	url = https://github.com/TheCherno/Walnut.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/imgui-cmake"]
	path = external/imgui-cmake
	url = https://github.com/tamaskenez/imgui-cmake.git
